.first_place
{
    color: #339933;
}
.second_place
{
    color: #33cc33;
}
.third_place
{
    color: #00ff00;
}
.best_half
{
    color: #ffcc66;
}
.low_place
{
    color: #ff9999;
}
.last_place
{
    color: #ff5050;
}