<app-menu></app-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>SocietyDetail</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content *ngFor="let obj of society" class="ion-padding">
    {{obj.name}}

    <ion-button *ngIf="memberStatus == 0" href="/login" color="warning" size="small">Login om te volgen</ion-button>
    <ion-button *ngIf="memberStatus == 1" (click)="follow()" color="primary" size="small">volgen</ion-button>
    <ion-button *ngIf="memberStatus == 2 || memberStatus == 3" (click)="unfollow()" color="light" size="small">volgend</ion-button>

    <ion-button *ngIf="memberStatus == 2" (click)="member()" color="secondary" size="small">Lid worden</ion-button>
    <ion-button *ngIf="memberStatus == 3" (click)="unmember()" color="medium" size="small">Lid aangevraagd</ion-button>
    <ion-button *ngIf="memberStatus == 4" (click)="unmember()" color="success" size="small">Lid</ion-button>
  
    <ion-list>
      <ion-list-header>
        Uitslag afgelopen jaren
      </ion-list-header>
      <ion-item *ngFor="let score of scores">
        <ion-note slot="start">{{score.year}}</ion-note>
        <ion-label>{{score.name}}</ion-label>
        <ion-note slot="end" class="{{score.color}}">{{score.price}} / {{score.participants}}</ion-note>
      </ion-item>
    </ion-list>

  </ion-content>
</div>