<app-menu></app-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{tabName}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>

      <ion-card *ngFor="let article of articles">
        <img src="https://nos.nl/data/image/2016/09/04/314317/xxl.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Posted on: {{article.date}}</ion-card-subtitle>
          <ion-card-title>{{article.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{article.content}}
        </ion-card-content>
      </ion-card>

  </ion-content>
</div>
